@import 'reset';
@import 'palette';
@import 'media-queries';
@import 'components/header/index.scss';
@import 'components/slider-main/index.scss';
@import 'components/whowe/index.scss';
@import 'components/services/index.scss';
@import 'components/portfolio/index.scss';
@import 'components/contact/index.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
