@import 'media-queries';
@import 'components/header/index.scss';
@import 'palette';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    background: $color-1;

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1173px;
        min-height: 99px;
        margin: 0 auto;

        ul {
            display: flex;

            li {
                margin-right: 40.4px;
                color: #FFFFFF;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: .2px;
                list-style: none;

                &:last-child {
                    margin-right: 2.1px;
                }
            }
        }
    }
}

.main-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 761px;
    background: #707070;

    .main-slider-wrap {
        width: 1173px;
        text-align: center;

        h3 {
            color: $color-2;
            font-family: 'Raleway', sans-serif;
            font-size: 62px;
            font-weight: 200;
        }

        h4 {
            color: $color-2;
            font-family: 'Montserrat', sans-serif;
            font-size: 74px;
        }

        p {
            color: $color-2;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            font-weight: 300;
        }

        div {
            display: inline-block;
            padding: 14px 3px;
            background: $color-4;

            span {
                padding: 10px 30px;
                border: 1px solid #FFFFFF;
                color: #FFFFFF;
                font-family: 'Raleway', sans-serif;
                font-size: 13px;
                font-weight: 700;
            }
        }
    }
}
