.whowe {

    .who-container {
        width: 1188px;
        margin: auto;
        padding-top: 112px;
        padding-bottom: 139px;

        h2 {
            margin-bottom: 12px;
            color: $color-5;
            font-size: 31px;
            font-weight: 600;
            line-height: 34px;
            text-align: center;
            word-spacing: -1px;

            span {
                color: $color-4;
            }
        }

        .mid-icon {
            text-align: center;

            span {
                position: relative;

                img {
                    position: relative;
                    z-index: 99;
                    padding-right: 9px;
                    padding-left: 8px;
                    background: $color-2;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: -37px;
                    width: 110px;
                    height: 1px;
                    background: $color-8;
                }
            }
        }

        .about-us {
            display: flex;
            justify-content: center;
            padding: 94px 5px 0;

            .about-img {
                margin-right: 91px;
            }

            .about-text {

                h3 {
                    margin-top: 4px;
                    margin-bottom: 30px;
                    color: $color-5;
                    font-size: 31px;
                    font-weight: 600;
                    letter-spacing: -.5px;
                    line-height: 19px;
                    word-spacing: -1.8px;
                }

                p {
                    color: $color-6;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    line-height: 27px;

                    &.main-p {
                        margin-bottom: 47px;
                    }
                }

                .features {
                    display: grid;
                    grid-gap: 43px;
                    grid-row-gap: 51px;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);

                    .feature {
                        display: flex;

                        &::before {
                            content: '';
                            display: flex;
                            flex-shrink: 0;
                            align-items: center;
                            justify-content: center;
                            width: 63px;
                            height: 63px;
                            margin-right: 28px;
                            border-radius: 50%;
                            background: $color-7 url(/images/whowe/settings.png) no-repeat;
                            background-position: 50%;
                        }

                        h4 {
                            margin-top: 1px;
                            margin-bottom: 10px;
                            font-size: 18px;
                            font-weight: 900;
                            letter-spacing: -.5px;
                            line-height: 19px;
                            word-spacing: 1px;
                        }

                        p {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 13px;
                            line-height: 22px;
                        }

                        &.place {

                            &::before {
                                background: $color-7 url(/images/whowe/location.png) no-repeat;
                                background-position: 50%;
                            }
                        }

                        &.like {

                            &::before {
                                background: $color-7 url(/images/whowe/heart.png) no-repeat;
                                background-position: 50%;
                            }
                        }

                        &.mark {

                            &::before {
                                background: $color-7 url(/images/whowe/new.png) no-repeat;
                                background-position: 50%;
                            }
                        }
                    }

                    a {
                        display: none;
                    }
                }
            }
        }
    }
}
