.whowe {

    .who-container {
        width: 100%;
        padding-top: 0;
        padding-bottom: 77px;

        h2 {
            font-size: 28.8px;
            word-spacing: normal;
        }

        .about-us {
            display: block;
            width: 94%;
            margin: 0 auto;
            padding-top: 54px;
            padding-right: 0;
            padding-left: 0;

            div.about-img {
                min-height: 420px;
                text-align: center;
            }

            .about-img {
                margin-right: 0;
            }

            img {
                max-height: 420px;
                margin-right: 0;
            }

            .about-text {

                h3 {
                    margin-top: 34px;
                    margin-bottom: 18px;
                    padding-bottom: 22px;
                    border-bottom: 1px solid $color-6;
                    font-size: 25px;
                    word-spacing: normal;
                }

                p {
                    margin-left: 2px;
                    font-size: 13px;
                    line-height: 23px;
                }

                .features {
                    display: block;
                    margin-top: 59px;
                    margin-left: 2px;

                    .feature {
                        margin-bottom: 43px;

                        &::before,
                        &.place::before,
                        &.like::before,
                        &.mark::before {
                            width: 17px;
                            height: 17px;
                            margin-top: 5px;
                            margin-right: 13px;
                            background: transparent url(/images/whowe/check.png) no-repeat;
                        }

                        &.mark {
                            display: none;
                        }
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        display: inline-block;
                        margin-top: 23px;
                        padding: 14px 31px;
                        background: $color-4;
                        color: $color-2;
                        font-size: 13px;
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
