
.main-slider {
    min-height: 595px;
    margin-bottom: 70px;

    img {
        min-height: 592px;
    }

    .main-slider-wrap {
        top: 49%;
        left: 48.6%;
        width: 91%;

        h3 {
            font-size: 58px;
        }

        p {
            font-size: 18.8px;
        }

        div {
            top: -24px;
            left: 8px;
        }
    }

    .main-slider-arrows {
        display: none;
    }
}
